@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';


.navbar-brand {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 1.7em;
}

#pokemon-search {
    padding: 20px;
    button {
        width: 100%;
    }
}

.pokemon {
    cursor: pointer;
    text-align: center;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 1.2em;
}

.pokemon:hover {
    border-color: lightgreen !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pokemon-detail {
    .modal-title {
        text-align: center;
        font-size: 1.7em;
        font-weight: bold;
        text-transform: capitalize;
    }
    .img-container {
        width: 100px;
        margin: auto;
    }
    .modal-footer {
        h4 {
            font-weight: bold;
        }
        text-align: left;
    }
}